includes:
    - ../../../../config/extension.neon

parameters:
    mess_stan:
        pascal_case_class_name:
            allow_consecutive_uppercase: true


rules:
    - Orrison\MessStan\Rules\PascalCaseClassName\PascalCaseClassNameRule