includes:
    - ../../../../config/extension.neon

parameters:
    meliorstan:
        pascal_case_class_name:
            allow_consecutive_uppercase: true


rules:
    - Orrison\MeliorStan\Rules\PascalCaseClassName\PascalCaseClassNameRule