includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\BooleanGetMethodName\BooleanGetMethodNameRule

parameters:
    meliorstan:
        boolean_get_method_name:
            check_parameterized_methods: true
