includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MessStan\Rules\BooleanGetMethodName\BooleanGetMethodNameRule

parameters:
    messed_up:
        boolean_get_method_name:
            check_parameterized_methods: false
