includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\UnusedLocalVariable\UnusedLocalVariableRule

parameters:
    meliorstan:
        unused_local_variable:
            allow_unused_foreach_variables: true
