includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\ExcessivePublicCount\ExcessivePublicCountRule

parameters:
    meliorstan:
        excessive_public_count:
            maximum: 5
            ignore_pattern: ''
