includes:
    - ../../../../config/extension.neon

parameters:
    meliorstan:
        camel_case_parameter_name:
            allow_consecutive_uppercase: true
            allow_underscore_prefix: true

rules:
    - Orrison\MeliorStan\Rules\CamelCaseParameterName\CamelCaseParameterNameRule
