includes:
    - ../../../../config/extension.neon

parameters:
    messed_up:
        camel_case_parameter_name:
            allow_consecutive_uppercase: true
            allow_underscore_prefix: true

rules:
    - Orrison\MessStan\Rules\CamelCaseParameterName\CamelCaseParameterNameRule
