includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\BooleanArgumentFlag\BooleanArgumentFlagRule

parameters:
    meliorstan:
        boolean_argument_flag:
            ignored_in_classes:
                - 'Orrison\MeliorStan\Tests\Rules\BooleanArgumentFlag\Fixture\IgnoredClass'
            ignore_pattern: ''
