includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\TooManyMethods\TooManyMethodsRule

parameters:
    meliorstan:
        too_many_methods:
            max_methods: 5
