includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\UnusedFormalParameter\UnusedFormalParameterRule

parameters:
    meliorstan:
        unused_formal_parameter:
            allow_unused_with_inheritdoc: false
            allow_overriding_methods: false
