includes:
    - ../../../../config/extension.neon

parameters:
    mess_stan:
        short_variable:
            allow_in_for_loops: true

services:
    -
        class: Orrison\MessStan\Rules\ShortVariable\ShortVariableRule
        tags:
            - phpstan.rules.rule
