includes:
    - ../../../../config/extension.neon

parameters:
    meliorstan:
        short_variable:
            allow_in_foreach: true

services:
    -
        class: Orrison\MeliorStan\Rules\ShortVariable\ShortVariableRule
        tags:
            - phpstan.rules.rule
