includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MessStan\Rules\ShortVariable\ShortVariableRule

parameters:
    messed_up:
        short_variable:
            allow_in_for_loops: true
            allow_in_foreach: true
            allow_in_catch: true
