includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\ShortVariable\ShortVariableRule

parameters:
    meliorstan:
        short_variable:
            allow_in_for_loops: true
            allow_in_foreach: true
            allow_in_catch: true
