includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\ShortVariable\ShortVariableRule

parameters:
    meliorstan:
        short_variable:
            minimum_length: 5
