includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MessStan\Rules\ShortVariable\ShortVariableRule

parameters:
    mess_stan:
        short_variable:
            exceptions: ['i', 'j', 'k', 'x', 'y', 'e']
