includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\CyclomaticComplexity\CyclomaticComplexityRule

parameters:
    meliorstan:
        cyclomatic_complexity:
            report_level: 5
