includes:
    - ../../../../config/extension.neon

parameters:
    mess_stan:
        camel_case_property_name:
            allow_consecutive_uppercase: true
            allow_underscore_prefix: true

rules:
    - Orrison\MessStan\Rules\CamelCasePropertyName\CamelCasePropertyNameRule
