includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\ExcessiveClassComplexity\ExcessiveClassComplexityRule

parameters:
    meliorstan:
        excessive_class_complexity:
            maximum: 50
            ignore_pattern: 'Service'
