includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\CognitiveComplexity\CognitiveComplexityRule

parameters:
    meliorstan:
        cognitive_complexity:
            method_maximum: 5
