includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\NumberOfChildren\NumberOfChildrenRule

parameters:
    meliorstan:
        number_of_children:
            maximum: 1
