parametersSchema:
    meliorstan: structure([
        pascal_case_class_name: structure([
            allow_consecutive_uppercase: bool(),
        ]),
        camel_case_method_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_in_tests: bool(),
            allow_underscore_prefix: bool(),
        ]),
        camel_case_property_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
            ignored_when_in_classes: arrayOf(string()),
            ignored_when_in_classes_descendant_of: arrayOf(string()),
        ]),
        camel_case_parameter_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
        ]),
        camel_case_variable_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
        ]),
        short_variable: structure([
            minimum_length: int(),
            exceptions: arrayOf(string()),
            allow_in_for_loops: bool(),
            allow_in_foreach: bool(),
            allow_in_catch: bool(),
        ]),
        short_method_name: structure([
            minimum_length: int(),
            exceptions: arrayOf(string()),
        ]),
        boolean_get_method_name: structure([
            check_parameterized_methods: bool(),
        ]),
        else_expression: structure([
            elseif_allowed: bool(),
        ]),
    ])

# default parameters
parameters:
    meliorstan:
        pascal_case_class_name:
            allow_consecutive_uppercase: false
        camel_case_method_name:
            allow_consecutive_uppercase: false
            allow_underscore_in_tests: false
            allow_underscore_prefix: false
        camel_case_property_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
            ignored_when_in_classes: []
            ignored_when_in_classes_descendant_of: []
        camel_case_parameter_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
        camel_case_variable_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
        short_variable:
            minimum_length: 3
            exceptions: []
            allow_in_for_loops: false
            allow_in_foreach: false
            allow_in_catch: false
        short_method_name:
            minimum_length: 3
            exceptions: []
        boolean_get_method_name:
            check_parameterized_methods: false
        else_expression:
            elseif_allowed: true

services:
    -
        class: PhpParser\NodeVisitor\NodeConnectingVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor
    -
        class: Orrison\MeliorStan\Rules\CamelCaseVariableName\VariableDefinitionVisitor
        tags:
            - phpstan.parser.richParserNodeVisitor
    -
        factory: Orrison\MeliorStan\Rules\PascalCaseClassName\Config
        arguments:
            - %meliorstan.pascal_case_class_name.allow_consecutive_uppercase%
    -
        factory: Orrison\MeliorStan\Rules\CamelCaseMethodName\Config
        arguments:
            - %meliorstan.camel_case_method_name.allow_consecutive_uppercase%
            - %meliorstan.camel_case_method_name.allow_underscore_in_tests%
            - %meliorstan.camel_case_method_name.allow_underscore_prefix%
    -
        factory: Orrison\MeliorStan\Rules\CamelCasePropertyName\Config
        arguments:
            - %meliorstan.camel_case_property_name.allow_consecutive_uppercase%
            - %meliorstan.camel_case_property_name.allow_underscore_prefix%
            - %meliorstan.camel_case_property_name.ignored_when_in_classes%
            - %meliorstan.camel_case_property_name.ignored_when_in_classes_descendant_of%
    -
        factory: Orrison\MeliorStan\Rules\CamelCaseParameterName\Config
        arguments:
            - %meliorstan.camel_case_parameter_name.allow_consecutive_uppercase%
            - %meliorstan.camel_case_parameter_name.allow_underscore_prefix%
    -
        factory: Orrison\MeliorStan\Rules\CamelCaseVariableName\Config
        arguments:
            - %meliorstan.camel_case_variable_name.allow_consecutive_uppercase%
            - %meliorstan.camel_case_variable_name.allow_underscore_prefix%
    -
        factory: Orrison\MeliorStan\Rules\ShortVariable\Config
        arguments:
            - %meliorstan.short_variable.minimum_length%
            - %meliorstan.short_variable.exceptions%
            - %meliorstan.short_variable.allow_in_for_loops%
            - %meliorstan.short_variable.allow_in_foreach%
            - %meliorstan.short_variable.allow_in_catch%
    -
        factory: Orrison\MeliorStan\Rules\ShortMethodName\Config
        arguments:
            - %meliorstan.short_method_name.minimum_length%
            - %meliorstan.short_method_name.exceptions%
    -
        factory: Orrison\MeliorStan\Rules\BooleanGetMethodName\Config
        arguments:
            - %meliorstan.boolean_get_method_name.check_parameterized_methods%
    -
        factory: Orrison\MeliorStan\Rules\ElseExpression\Config
        arguments:
            - %meliorstan.else_expression.elseif_allowed%