parametersSchema:
    mess_stan: structure([
        pascal_case_class_name: structure([
            allow_consecutive_uppercase: bool(),
        ]),
        camel_case_method_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_in_tests: bool(),
            allow_underscore_prefix: bool(),
        ]),
        camel_case_property_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
        ]),
        camel_case_parameter_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
        ]),
        camel_case_variable_name: structure([
            allow_consecutive_uppercase: bool(),
            allow_underscore_prefix: bool(),
        ]),
        short_variable: structure([
            minimum_length: int(),
            exceptions: arrayOf(string()),
            allow_in_for_loops: bool(),
            allow_in_foreach: bool(),
            allow_in_catch: bool(),
        ]),
        short_method_name: structure([
            minimum_length: int(),
            exceptions: arrayOf(string()),
        ]),
        boolean_get_method_name: structure([
            check_parameterized_methods: bool(),
        ]),
    ])

# default parameters
parameters:
    mess_stan:
        pascal_case_class_name:
            allow_consecutive_uppercase: false
        camel_case_method_name:
            allow_consecutive_uppercase: false
            allow_underscore_in_tests: false
            allow_underscore_prefix: false
        camel_case_property_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
        camel_case_parameter_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
        camel_case_variable_name:
            allow_consecutive_uppercase: false
            allow_underscore_prefix: false
        short_variable:
            minimum_length: 3
            exceptions: []
            allow_in_for_loops: false
            allow_in_foreach: false
            allow_in_catch: false
        short_method_name:
            minimum_length: 3
            exceptions: []
        boolean_get_method_name:
            check_parameterized_methods: false

services:
    -
        factory: Orrison\MessStan\Rules\PascalCaseClassName\Config
        arguments:
            - %mess_stan.pascal_case_class_name.allow_consecutive_uppercase%
    -
        factory: Orrison\MessStan\Rules\CamelCaseMethodName\Config
        arguments:
            - %mess_stan.camel_case_method_name.allow_consecutive_uppercase%
            - %mess_stan.camel_case_method_name.allow_underscore_in_tests%
            - %mess_stan.camel_case_method_name.allow_underscore_prefix%
    -
        factory: Orrison\MessStan\Rules\CamelCasePropertyName\Config
        arguments:
            - %mess_stan.camel_case_property_name.allow_consecutive_uppercase%
            - %mess_stan.camel_case_property_name.allow_underscore_prefix%
    -
        factory: Orrison\MessStan\Rules\CamelCaseParameterName\Config
        arguments:
            - %mess_stan.camel_case_parameter_name.allow_consecutive_uppercase%
            - %mess_stan.camel_case_parameter_name.allow_underscore_prefix%
    -
        factory: Orrison\MessStan\Rules\CamelCaseVariableName\Config
        arguments:
            - %mess_stan.camel_case_variable_name.allow_consecutive_uppercase%
            - %mess_stan.camel_case_variable_name.allow_underscore_prefix%
    -
        factory: Orrison\MessStan\Rules\ShortVariable\Config
        arguments:
            - %mess_stan.short_variable.minimum_length%
            - %mess_stan.short_variable.exceptions%
            - %mess_stan.short_variable.allow_in_for_loops%
            - %mess_stan.short_variable.allow_in_foreach%
            - %mess_stan.short_variable.allow_in_catch%
    -
        factory: Orrison\MessStan\Rules\ShortMethodName\Config
        arguments:
            - %mess_stan.short_method_name.minimum_length%
            - %mess_stan.short_method_name.exceptions%
    -
        factory: Orrison\MessStan\Rules\BooleanGetMethodName\Config
        arguments:
            - %mess_stan.boolean_get_method_name.check_parameterized_methods%