includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MessStan\Rules\ShortMethodName\ShortMethodNameRule

parameters:
    mess_stan:
        short_method_name:
            minimum_length: 5
            exceptions: []
