includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\ShortMethodName\ShortMethodNameRule

parameters:
    meliorstan:
        short_method_name:
            minimum_length: 3
            exceptions: ['a', 'is']
