includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MessedUpPhpstan\Rules\ShortMethodName\ShortMethodNameRule

parameters:
    messed_up:
        short_method_name:
            minimum_length: 3
            exceptions: ['a', 'is']
