includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\ShortClassName\ShortClassNameRule

parameters:
    meliorstan:
        short_class_name:
            exceptions: ["A", "B", "I", "T", "E"]