includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\ShortClassName\ShortClassNameRule

parameters:
    meliorstan:
        short_class_name:
            minimum: 10
            exceptions: ["A", "I"]