includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\ExcessiveClassLength\ExcessiveClassLengthRule

parameters:
    meliorstan:
        excessive_class_length:
            maximum: 5
            ignore_whitespace: false
            ignore_pattern: '/invalid[regex'
