includes:
    - ../../../../config/extension.neon

rules:
    - Orrison\MeliorStan\Rules\CouplingBetweenObjects\CouplingBetweenObjectsRule

parameters:
    meliorstan:
        coupling_between_objects:
            maximum: 3
            excluded_namespaces:
                - 'Orrison\MeliorStan\Tests\Rules\CouplingBetweenObjects\Fixture\Deps\Excluded\'
